.annotator-toolbar {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	&-inner {
		height: 2.5rem;
		margin-left: 0rem;
		box-shadow: 0 2px 5px rgba(22,23,26,.05);
		display: flex;
	}
	&-debug {
		height: 2.5rem;
		margin-left: 0rem;
		box-shadow: 0 2px 5px rgba(22,23,26,.05);
		display: flex;
		align-items: center;
		font-family: monospace;
		font-size: 11px;
		.coord {
			padding: 0 1rem;
			&.x {
				width: 100px;
				&:before {
					content: 'x : ';
				}
			}
			&.y {
				width: 100px;
				&:before {
					content: 'y : ';
				}
			}
		}
	}
	.tool {
		width: 2.5rem;
		height: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		svg {
			width: 80%;
			height: 80%;
		}
		&.selected {
			cursor: default;
		}
		&.zoom-button {
			border-left: 1px solid #f4f4f4;
			&.selected {
				cursor: pointer;
				svg {
					rect:nth-child(4) {
						display: none;
					}
				}
			}
			svg {
				width: 100%;
				height: 100%;
			}
		}
		&.rect {
			svg {
				width: 70%;
				height: 70%;
			}
		}
	}
	.color {
		position: relative;
		width: 3.5rem;
		height: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&-selected {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.circle {
				display: block;
				width: 14px;
				height: 14px;
				border-radius: 50%;
			}
			svg {
				display: block;
				width: 12px;
				height: 12px;
				margin-left: 5px;
			}
		}
		&-selector {
			position: absolute;
			top: calc(100% + 10px);
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			.colors {
				display: flex;
				box-shadow: 0 2px 5px rgba(22,23,26,.05);
				&:after {
					bottom: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-width: 6px;
					margin-left: -6px;
				}
				.color-entry {
					padding: 1rem 0.5rem;
					&:first-child {
						padding-left: 1rem;
					}
					&:last-child {
						padding-right: 1rem;
					}
					.circle {
						position: relative;
						width: 14px;
						height: 14px;
						border-radius: 50%;
						transition: transform 0.2s ease-out;
					}
					&.orange {
						.circle { background: $orange; }
					}
					&.yellow {
						.circle { background: $yellow; }
					}
					&.green {
						.circle { background: $green; }
					}
					&.blue {
						.circle { background: $blue; }
					}
					&.purple {
						.circle { background: $purple; }
					}
					&.pink {
						.circle { background: $pink; }
					}
					&:hover, &.selected {
						.circle {
							transform: scale(1.25);
						}
					}
				}
			}
		}
	}
}