.annotator {
	position: relative;
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 3rem;
	user-select: none;
	overflow: hidden;
    &.annotator-disabled {
        opacity: .4;
        pointer-events: none;
    }
	&-background {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&-placeholder {
		position: relative;
		padding: 2.5rem;
		&-ctn {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: center;
			padding: 2.5rem;
		}
	}
	&-ctn {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		padding: 1.5rem;
		padding-top: 4rem;
		.image {
			position: relative;
			width: 100%;
			max-height: calc(100vh - 2.5rem - 9.5rem);
			display: flex;
			justify-content: center;
			align-items: center;
			&-ctn {
				position: relative;
				display: inline-block;
				max-width: 100%;
				z-index: 2;
				.markers {
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 1;
					.marker {
						position: absolute;
						user-select: none;
						&.marker-pin {
						    width: 30px;
						    height: 30px;
						    font-size: 12px;
						    border-radius: 50%;
						    border-bottom-left-radius: 0;
						    display: flex;
						    justify-content: center;
						    align-items: center;
						    transform-origin: bottom left;
						    transition: width 0.15s ease-out, height 0.15s ease-out, transform 0.15s ease-out;
						    transform: translateY(-100%);
							@include grabbable;
						    &:hover, &.dragging {
								z-index: 999;
							    transform: translateY(-100%) scale(1.15);
							}
						}
						&.marker-rect {
							.resize-helpers {
								position: absolute;
								width: 100%;
								height: 100%;
								display: none;
								.handle {
									position: absolute;
									width: 12px;
									height: 12px;
									border-radius: 50%;
									background: white;
									&.top-left {
										top: 0;
										left: 0;
										transform: translate(-50%, -50%);
										cursor: nwse-resize;
									}
									&.bottom-left {
										top: 100%;
										left: 0;
										transform: translate(-50%, -50%);
										cursor: nesw-resize;
									}
									&.top-right {
										top: 0;
										right: 0;
										transform: translate(50%, -50%);
										cursor: nesw-resize;
									}
									&.bottom-right {
										top: 100%;
										right: 0;
										transform: translate(50%, -50%);
										cursor: nwse-resize;
									}
								}
							}
							.count {
								position: absolute;
								top: 50%;
								width: 21px;
								height: 21px;
								padding-right: 1px;
								border-radius: 50%;
								display: flex;
								align-items: center;
								justify-content: center;
								font-size: 12px;
								transform: translate(-50%, -50%);
								pointer-events: none;
							}
							&:hover, &.dragging {
								z-index: 999;
								.resize-helpers {
									display: block;
								}
								.count {
									display: none;
								}
							}
						}
						&.marker-circle {
							border-radius: 50%;
							transform: translate(-50%, -50%);
							.resize-helpers {
								position: absolute;
								top: 0;
								left: calc(50% - 1px);
								width: 2px;
								height: 50%;
								transform-origin: bottom center;
								display: none;
								.handle {
									position: absolute;
									width: 12px;
									height: 12px;
									border-radius: 50%;
									background: white;
									&.top {
										top: 0;
										left: 1px;
										transform: translate(-50%, -50%);
										cursor: ns-resize;
									}
									&.center {
										top: 100%;
										left: 1px;
										transform: translate(-50%, -50%);
										@include grabbable;
									}
								}
							}
							.count {
								position: absolute;
								top: 50%;
								width: 21px;
								height: 21px;
								padding-right: 1px;
								border-radius: 50%;
								display: flex;
								align-items: center;
								justify-content: center;
								font-size: 12px;
								transform: translate(-50%, -50%);
								pointer-events: none;
							}
							&:hover, &.dragging {
								z-index: 999;
								.resize-helpers {
									display: block;
								}
								.count {
									display: none;
								}
							}
						}
					}
				}
				img {
					display: block;
					max-width: 100%;
					max-height: calc(100vh - 2.5rem - 9.5rem);
				}
			}
			&.fullsize {
				align-items: flex-start;
				justify-content: flex-start;
				.image-ctn {
					max-width: none;
					img {
						max-width: none;
						max-height: none;
					}
				}
			}
		}
	}
}
