.add-button-hide {
    display: none;
}
.imageannotator-ctn-img {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}
.imageannotator-img {
    display: block;
}

.imageannotator-marker {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 36px;
    font-size: 14px;
    border-radius: 50%;
    border-top-left-radius: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    transform-origin: top left;
    transition: width 0.15s ease-out, height 0.15s ease-out, transform 0.15s ease-out;
}
.imageannotator-marker:hover {
    transform: scale(1.15);
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

[data-field="imageannotator"] .structure-entries thead tr th:first-child,
[data-field="imageannotator"] .structure-entries tbody tr td:first-child {
    width: 40px;
}

[data-field="imageannotator"] .structure-entry {
    position: relative;
}
[data-field="imageannotator"] .structure-entries span.index {
    display: block;
    width: 28px;
    height: 28px;
    margin: 3px 5px 0 5px;
    text-align: center;
    padding: 0;
    line-height: 30px;
    font-size: 11px;
    border-radius: 50%;
}
[data-field="imageannotator"] .structure-entries span.items-index {
    position: absolute;
    right: .5em;
    top: .5em;
}